@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
  font-family: "Noto Sans", sans-serif;
}

nav{
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0,0.1);
}
nav ul{
  width: 100%;
  list-style:none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0;
  background-color:#ffffff;
  height: 100px;
  margin-top:-.5rem;
}
nav li{
  height:3rem;
}
nav a{
  height: 100%;
  padding:0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
}
nav a:hover{
  color: rgb(57, 116, 225);
  text-decoration: underline;
}
 

nav li:first-child{
  margin-right: auto;
  height: 100%;
  padding:0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  cursor: default;
  font-weight:600;
  font-size:1.3rem;
}
.sidebar {
  position: fixed;
  top: 0;
  right: -250px; /* Changed to right */
  width: 250px;
  height: 100%;
  background-color: #333;
  padding-top: 60px;
  transition: right 0.3s ease; /* Changed to right */;
  z-index: 1;
}
.sidebar a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}
.sidebar a:hover {
  background-color: #555;
}
.close-btn {
  position: absolute;
  top: 0;
  left: 10px; /* Adjusted for right-aligned sidebar */
  font-size: 24px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.content {
  margin-right: 0; /* Adjusted for right-aligned sidebar */
  transition: margin-right 0.3s ease; /* Adjusted for right-aligned sidebar */
}
.open-btn {
  position: fixed;
  top: 20px;
  right:42px; /* Changed to right */
  cursor: pointer;
  display: none;
}
.intro{
  background: #e1e1e1;
  height:33rem;
  margin: 0;
}
.container1{
  display: flex;
  overflow: hidden;
  padding-top: 100px;
}
.left-side {
  flex: 1;
  padding-left: 40px;
}
.h1{
  font-size: 3rem;
  font-weight:700;
  margin-bottom:10px;
}
.p{
  font-size: 18px;
  font-size: 16px;
  color: #64676c;
  line-height: 1.6;
  margin-bottom: 20px;
  padding-right: 50px;
}
.left-side a{
  color: black;
  text-decoration: none;
}
.left-side a:hover{
  color: rgb(57, 116, 225);
}
.right-side{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img2{
  animation: morph 8s ease-in-out infinite;
  -webkit-animation: morph 8s ease-in-out infinite;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height:22rem;
  position: relative;
  transition: all 1s ease-in-out;
  width:20rem;
}
@keyframes morph{
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
.skills{
  align-items: center;
  color: #767676;
  display: flex;
}
.skills p{
  border-right: 2px solid rgba(45,46,50,.5);
  color: #2d2e32;
  font-weight: 600;
  padding-left: 10px;
}
.skills-icons{
  display: flex;
  justify-content: center;
}
.skills ul{
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}
.skills-icons li{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  list-style: none;
  transition: transform 0.2s ease;
}
.skills-icons li:hover{
  transform: scale(1.1);
}
.si{
  height: 50px;
  width: 55px;
}
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 12rem;
}
.div1{ 
  grid-area: 1 / 2 / 2 / 3;
}
.abt-img1{
  height:24rem;
  width: 28rem;
  border-radius: 20px;
}
.div2{ 
  grid-area: 1 / 4 / 2 / 5;
  width: 27rem;
}
.section2,.section3{
  margin-top: 5rem;
}

h5{
  color:rgb(57, 116, 225);
  text-decoration:underline;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
}
.ap{
  font-weight: 600;
  font-size: 1.4rem;
}
.ap2{
  color: #767676;
}
.projects{
  margin-top: 10rem;
  padding-left: 100px;
  padding-right: 100px;
}
.pro{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.pro-pic{
  grid-area: 1 / 2 / 2 / 3;
}

.wecare-img{
  height: 22rem;
  width:30rem;
  border-radius: 10px;
}
.pro-text{
  grid-area: 1 / 4 / 2 / 5;
}
.ecom-word{
  font-weight: 600;
  font-size:1.3rem;
  margin-bottom:16px;
}
.ecom-word2{
  color: #767676;
  margin-bottom: 4rem;
}
.stack{
  display: flex;
  gap: 11rem;
  justify-content: center;
  margin-bottom: 4.1rem;
}
.demo{
  display: flex;
  justify-content: center;
  gap: 10rem;
}
.demo a{
  color: black;
  text-decoration: none;
}
.demo a:hover{
  color: rgb(57, 116, 225);
}
.git-img{
  height: 30px;
  width: 30px;
}
.blocker{
  border-bottom: 2px solid black;
  padding-top:15px;
  padding-bottom:68px;
  display: none;
}
.contact{
  margin-top: 10rem;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom:5rem;
}
.contact-icon{
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
}
.ci{
  height: 2.5rem;
  width: 2.5rem;
  align-items: center;
  display: flex;
  gap: 1.5rem;
}





footer{
  background-color: #2d2e32;
  padding: 5rem 0;
  width: 100%;
}
.fw{
  margin: 0 auto;
  max-width: 107rem;
  padding: 0 4rem;
  color: white;
  font-size: 600;
  font-size: 1.2rem;
}






























@media screen and (max-width:1200px){
  .skills p{
    border-right: 2px solid rgba(45,46,50,.5);
    color: #2d2e32;
    font-weight: 600;
  }
  .pro{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
 
}

@media screen and (max-width:1100px){
  .skills p{
    border-right: 2px solid rgba(45,46,50,.5);
    color: #2d2e32;
    font-weight: 600;
  }
}
@media screen and (max-width:1000px){
  .skills p{
    border-right: 2px solid rgba(45,46,50,.5);
    color: #2d2e32;
    font-weight: 600;
  }
  .parent{
 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .div2{
    width: auto;
    margin-top: 30px;
  }
 
}
@media(max-width: 900px){
  .sidebar{
    width: 25%;
  }
  nav{
    display: none;
  }
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
  .sidebar{
    width: 25%;
  }
  nav a:hover{
    text-decoration:none;
    color: gray;
  }
  .open-btn{
    display: block;
  }
  .intro{
    background: #e1e1e1;
  height: 38rem;
  margin: 0;
  }
  .skills {
    margin-top: 3rem;
    position: static;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .skills p{
    border-bottom: 2px solid rgba(45,46,50,.5);
    border-right: none;
    margin-right: 0;
  }
}  
@media (max-width: 800px) {
  .intro{
    height: 54rem;
  }
  .container1{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: auto;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .sidebar {
    width: 200px;
  }
  nav{
    display: none;
  }
  .wecare-img{
    height: 18rem;
    width: 24rem;
    border-radius: 10px;
  }
}

@media (max-width: 550px) {
  .intro{
    height: 58rem;
  }
}
@media (max-width: 500px) {
  .sidebar {
    width: 150px;
  }
  nav{
    display: none;
  }
  .abt-img1{
    height:18rem;
    width:22rem ;
  }
  .stack{
    gap: 5rem;
  }
  .wecare-img{
    height: 14rem;
    width: 18rem;
    border-radius: 10px;
  }
  .pro-text{
    text-wrap: balance;
  }
}


@media screen and (max-width: 400px) {
  .sidebar {
    height: auto;
  }
  nav{
    display: none;
  }
  .abt-img1 {
    height: 14rem;
    width: 20rem;
  }
  .wecare-img{
    height: 14rem;
    width: 18rem;
    border-radius: 10px;
    margin-left: -52px;
  }
  .stack{
    gap: 3rem;
  }
}
@media(max-width: 360px){
  .wecare-img{
    height: 14rem;
    width: 18rem;
    border-radius: 10px;
    margin-left: -60px;
  }
}



































